<ul>
  {{#each burgers}}
  <li>{{burger_name}} | {{devoured}}<button class="devoured-btn" data-id="{{id}}">Devour</button></li>
  {{/each}}
</ul>

<form id="burger-form">
  <h1>Burger Form</h1>
  <label for="burgerName">Name</label>
  <input type="text" name="burgerName" id="burgerName">
  <button type="submit">Add burger</button>
</form>

<script>
  document.querySelectorAll(".devoured-btn").forEach((btn) => {
    btn.addEventListener('click', (event) => {
      const id = btn.getAttribute('data-id');

      const myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      const raw = JSON.stringify({"devoured":true});

      const requestOptions = {
        method: 'PUT',
        headers: myHeaders,
        body: raw,
      };

      fetch(`api/burgers/${id}`, requestOptions)
        .then(response => response.text())
        .then(result => console.log(result))
        .catch(error => console.log('error', error));
    })
  })

  document.getElementById('burger-form').addEventListener('submit', (event) => {
    event.preventDefault();

    const name = document.getElementById('burgerName').value.trim();

    const myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    const raw = JSON.stringify({ "name": name });

    const requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
    };

    fetch("/api/burgers", requestOptions)
      .then(response => response.text())
      .then(result => console.log(result))
      .catch(error => console.log('error', error));
  })
</script>
